.coop-item {
  padding: 1.5rem;
  border: 1px solid hsl(var(--default-200));
  border-radius: 4px;

  &__title {
    margin: 0 0 1rem 0;
  }

  &__placeholder {
    color: hsl(var(--default-500));
    margin: 0;
  }
}

