@import "tailwindcss";
@plugin '../core/configs/theme/theme.config.ts';

/* Explicitly tell Tailwind v4 to scan components outside the src/app/ directory */
@source '../';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: transparent;
  color: inherit;
}